body {
    background-color: #87CEFA;
}
#cabecalho {
    width: 100%;
    margin: 0px auto;
    font-size: 20px;
    color: #FFF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000; 
}

h1,p{
    text-align: center;
}
#linha-horizontal {
    width: 100%;
    border: 1px solid #000;
}
#link-paginas{
 text-align: left;
 color: #000;    
}
#menu{
    text-align: center;
}